[Unit]
Description=My Rust Server For Winpeers
After=multi-user.target

[Service]
ExecStart=/usr/bin/bash -c './build.sh && cargo run --release'
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=winpeers-rust-server
User=ubuntu
EnvironmentFile=/home/ubuntu/winpeers-exodus/.env
WorkingDirectory=/home/ubuntu/winpeers-exodus

[Install]
WantedBy=multi-user.target